/* Base Styles */
html {
  -moz-osx-font-smoothing: grayscale; /* mozilla */
  -webkit-font-smoothing: antialiased; /* safari */
  background-color: blue;
  background-image: linear-gradient(to bottom right, black, orange);
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
a {
  color: currentcolor;
  cursor: pointer;
  text-decoration: none;
}
.about{
  max-width: 26rem;
}
.button{
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #9013fe;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25rem 2rem;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}
.button:active{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.98above) translateY(-2px);
}
.button:hover{
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02) translateY(-4px);
}
.button, .social a{
  transform-origin: center;
  transition-duration: 100ms;
}
.contact{
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}
.content {
  display: flex;
  position: relative;
  min-height: 100vh;
}
.description{
  font-size: 1.5rem;
}
.hr{
  background-color: #ff470f;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 4rem;
}
.job{
  color: #ffe479;
  font-size: 0.75rem;
}
.job, .button{
  font-family: "Montserrat", "Quicksand", sans-serif;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.name{
  font-size: 2.25rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}
.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}
.picture-image{
  border-radius: 160px;
  position: absolute;
}
.side {
  max-height: 20rem;
  max-width: 20rem;
}
.social{
  display: flex;
  margin-top: 1.5rem;
}
.social a{
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}
.social a:hover{
  opacity: 1;
  transform: scale(1.25);
}
.social a:active{
  opacity: 1;
  transform: scale(1.1);
}
.social li{
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}
.wallpaper, .picture-shadow, .picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.wallpaper {
  background-image: url("images/back.jpeg");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  position: fixed;
}
/* after .wallpaper, .picture-shadow, .picture-image{} otherwise top is overwritten*/
.picture-shadow{
  border-radius: 200496px;
  background-image: radial-gradient(black 0%, rgba(0,0,0,0) 70%);
  position: absolute;
  top: 15%;
}
/* Responsiveness */
@media screen and (max-width: 799px){
  .content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }
  .side{
    margin-bottom: 3rem;
    width: 100%;
  }
}
@media screen and (min-width: 800px){
  .about{
    flex-grow: 1;
    flex-shrink: 1;
  }
  .content{
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 4rem;
  }
  .side{
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4rem;
    order: 2;
    width: 20rem;
  }
}